
$color_tem: rgb(255, 94, 0);
.wrraper_header {
  background: linear-gradient(0deg, #b7d5f4, #3b97fa 0.01%, #0026a2);
  // background: linear-gradient(180deg, rgba(0,10,31,1) 0%, rgba(186,183,178,1) 100%);
  // background: linear-gradient(0deg, #f4dfc1, #ed9128 0.01%, #794500);

  width: 100wh;
  height: 600px;
}
