@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-container{
  height: 100vh;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

@font-face {
    /* font-family: Iransans;
    src: url(/font/Iranian\ Sans.woff2); */
    font-family: Sahel;
    src: url(/font/Sahel-FD.woff2) format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  
  
  body{
    /* font-size:18px; */
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
 text-decoration: none;
 direction: rtl;
 font-family:Sahel,sans-serif;
 
}
/* leaflet */
