@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Iransans;
    src: url(/font/Iranian\ Sans.woff2);
    /* font-family: Sahel;
    src: url(/font/Sahel.woff2) format("woff2")
    url(../public/font/Sahel.woff) format("woff"); */
    font-weight: normal;
    font-display: swap;
}


body{
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
 text-decoration: none;
 direction: rtl;
 font-family:Iransans,sans-serif;
 
}
