@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .ltr {
    direction: ltr;
  }
}
.leaflet-container{
  height: 100vh;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

@font-face {
    font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../public/font/AbarLowFaNum-Regular.woff') format('woff'),   
	url('../public/font/AbarLowFaNum-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: sahel;
	font-style: normal;
	font-weight: normal;
	src: url('../public/font/Sahel-FD.woff2') format('woff2');
  }
  
  
  body{
    /* font-size:18px; */
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
 text-decoration: none;
 direction: rtl;
 font-family:AbarLowFaNum,sahel,sans-serif;
 
}
/* leaflet */
