.nav_header {
  max-width: 100%;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .nav_right {
    align-items: center;
    .nav_header_ul {
      display: flex;
      align-items: center;
      padding: 5px;
      li {
        padding: 1px 12px;
        font-size: 16px;
        font-weight: 500;
        &:hover {
          background-color: #30437a;
          border-radius: 5px;
          transition: all 0.2s linear;
          cursor: pointer;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            padding: 2px;
          }
        }
      }
    }
  }
}
